.version.login {
	color: #0000EF;
	background-color: #10D696;
}

#page {
	z-index: 1;
	width: 1280px;
	min-height: auto;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content {
	width: 0.01px;
}

#u1966 {
	z-index: 3;
	height: 1200px;
	padding-bottom: 1px;
}

#u1966_align_to_page {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	left: -100px;
}

#u1966_position_content {
	/* margin-bottom: -238px; */
	padding-top: 105px;
	width: 100%;
}

#u2010 {
	z-index: 4;
	width: 677px;
	background-color: transparent;
	left: 401px;
	position: relative;
}

#u2954 {
	z-index: 25;
	width: 1115px;
	background-color: #FFFCEC;
	padding-bottom: 49px;
	left: 182px;
	position: relative;
}

#buttonu2060 {
	z-index: 30;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 99px;
}

#buttonu2060:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#buttonu2060:active {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#buttonu2060.ButtonSelected {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-color: transparent;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2061 {
	z-index: 32;
	height: 20px;
	width: 72px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 24px;
	background: transparent url("../images/u2061.png?crc=4270137501")
		no-repeat 0px 0px;
}

#buttonu2060:hover #u2061 {
	background: transparent url("../images/u2061-r.png?crc=333767328")
		no-repeat 0px 0px;
}

#buttonu2062 {
	z-index: 34;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 275px;
}

#buttonu2062:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2063 {
	z-index: 36;
	height: 20px;
	width: 103px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
	background: transparent url("../images/u2063.png?crc=155739993")
		no-repeat 0px 0px;
}

#buttonu2062:hover #u2063 {
	background: transparent url("../images/u2063-r.png?crc=196503113")
		no-repeat 0px 0px;
}

#u2059-4 {
	z-index: 26;
	position: relative;
	margin-right: -10000px;
	width: 212px;
	/* margin-top: 48px; */
	left: 452px;
}

#u2059-4_img {
	display: block;
	vertical-align: top;
}

#buttonu2064 {
	z-index: 38;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 720px;
}

#buttonu2062:active, #buttonu2064:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2065 {
	z-index: 40;
	height: 20px;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
	background: transparent url("../images/u2065.png?crc=4069860665")
		no-repeat 0px 0px;
}

#buttonu2064:hover #u2065 {
	background: transparent url("../images/u2065-r.png?crc=258751846")
		no-repeat 0px 0px;
}

#buttonu2066 {
	z-index: 42;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 896px;
}

#buttonu2064:active, #buttonu2066:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#buttonu2066:active {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2067 {
	z-index: 44;
	height: 20px;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
	background: transparent url("../images/u3233.png")
		no-repeat 0px 0px;
}

#buttonu2066:hover #u2067 {
	background: transparent url("../images/u3233-r.png")
		no-repeat 0px 0px;
}

#u2013 {
	z-index: 6;
	width: 1115px;
	box-shadow: 0px 20px 20px rgba(127, 127, 127, 0.2);
	background-color: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 28px;
	left: 182px;
	top: -1px;
	margin-top: 60px;
	margin-bottom: 80px;
	position: relative;
}

#u2511-3 {
	z-index: 7;
	width: 1052px;
	min-height: auto;
	border-style: solid;
	border-width: 5px;
	border-color: #F6C95E;
	background-color: transparent;
	border-radius: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 27px;
	padding-bottom: 30px;
}

#tab-panelu2860 {
	z-index: 10;
	width: 600px;
	height: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 258px;
}

#u2874 {
	z-index: 11;
	width: 600px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2879 {
	z-index: 12;
	width: 300px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u2879:hover {
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFCEC;
	width: 300px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2879.TabbedPanelsTabSelected {
	border-color: #000000;
	background-color: #F6C95E;
	border-radius: 0px;
	width: 300px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2882 {
	z-index: 14;
	height: 29px;
	width: 301px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: transparent url("../images/u2882.png?crc=3852719544")
		no-repeat 0px 0px;
}

#u2879:hover #u2882 {
	background: transparent url("../images/u2882-r.png?crc=4256602616")
		no-repeat 0px 0px;
}

#u2879.TabbedPanelsTabSelected #u2882 {
	background: transparent url("../images/u2882-a.png?crc=278647685")
		no-repeat 0px 0px;
}

#u2875 {
	z-index: 17;
	width: 301px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u2875:hover {
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFCEC;
	width: 301px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2875.TabbedPanelsTabSelected {
	border-color: #000000;
	background-color: #F6C95E;
	border-radius: 0px;
	width: 301px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2878 {
	z-index: 19;
	height: 29px;
	width: 302px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: transparent url("../images/u2878.png?crc=4234419007")
		no-repeat 0px 0px;
}

#u2875:hover #u2878 {
	background: transparent url("../images/u2878-r.png?crc=3800523718")
		no-repeat 0px 0px;
}

#u2875.TabbedPanelsTabSelected #u2878 {
	background: transparent url("../images/u2878-a.png?crc=496424270")
		no-repeat 0px 0px;
}

#u2861 {
	z-index: 22;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u2866 {
	z-index: 23;
	width: 600px;
	height: 420px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u2862 {
	z-index: 24;
	width: 600px;
	height: 420px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

.TabbedPanelsTab {
	cursor: pointer;
}

#u2234-4 {
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 244px;
}

#u2985 {
	z-index: 50;
	width: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u3216 {
	z-index: 52;
	width: 142px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 896px;
}

.js body {
	visibility: hidden;
}

.js body.initialized {
	visibility: visible;
}

#u1966-bw {
	z-index: 3;
	height: 600px;
}

#u1965, #u1965-bw {
	z-index: 2;
	height: 340px;
	position: relative;
}

#muse_css_mq, .html {
	background-color: #FFFFFF;
}

body {
	position: relative;
	min-width: 1280px;
}

a:link {
		text-decoration: none;
		color : blue;
	}
	
	a:visited {
		text-decoration: none;
		color : blue;
	}
	
	.detail, .detail td {
		text-align: center;
		border-bottom: 1px dotted gray;
		border-collapse: collapse;
	}
	
	.detail .td1 {
		background-color: #F6C95E; 
		text-align: center;
		font-size: 18px; font-family: 'a타이틀고딕2';
		padding: 20px;
		width: 150px;
	}
	
	.detail .td2 {
		background-color: transparent; 
		text-align: left;
		font-size: 15px; font-family: 'a타이틀고딕1';
		padding: 10px;
		width: 800px;
	}
	
	.container {
		/* border: 1px solid red; */
		width: 1050px;
		margin-top: 100px;
	}
	
	.container2 {
		width: 350px;
		background-color: transparent;
		/* border: 1px solid red; */
		position: relative;
		margin-top: 40px;
		left: 150px;
		padding: 10px;
		float: left;
	}
	
	.row {
		/* border: 2px solid blue; */
		margin: 0 auto;
		width: 800px;
	}
	
	#td3 {
		background-color: transparent; 
		text-align: left;
		font-size: 15px; font-family: 'a타이틀고딕1';
		padding: 10px;
		width: 600px;
		height: 200px;
	}
	
	#catFoot {
		position: relative;
		margin-top: 10px;
	}
	
	#boardTITLE {
		font-size: 40px;
		font-family: 'a타이틀고딕3';
		display: inline;
		position: absolute;
		margin-left: 20px;
		margin-top: 35px;
		text-align: center;
	}
	
	.btn1 {
		width: 90px;
		height: 30px;
		font-size: 15px;
		font-family: 'a타이틀고딕2';
		text-shadow: 0.5px 0.5px 0.5px gray;
		background-color: #F6C95E;
		border-radius: 3px;
		float: right;
		margin-left: 5px;
		margin-top: 20px;
	}
	
	.btn2 {
		width: 90px;
		height: 30px;
		font-size: 15px;
		font-family: 'a타이틀고딕2';
		text-shadow: 0.5px 0.5px 0.5px gray;
		background-color: #F6C95E;
		border-radius: 3px;
		float: right;	
		margin-right: 7px;
		margin-bottom: 2px;
	}
	
	.loginICON {
		font-size: 15px;
		text-decoration: none;
		font-family: 'a타이틀고딕2';
		float: right;
	}
	
	#loginheader {
		z-index: 5;
		width: 1115px;
		/* border: 2px solid red; */
		left: 182.5px;
		position: relative;
	}
	.inputreply textarea{
		border-top: 1px dotted gray;
		border-left: 1px dotted gray;
		border-right: 1px dotted gray;
	}
	#regist {
		border-bottom: 1px dotted gray;
		border-left: 1px dotted gray;
		border-right: 1px dotted gray;
	}
	
	#replyContent{
		padding-left: 13px;
		text-align: left;
		height: 40px;
	}
	
	#date{
		padding-right: 10px;
		text-align: right;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	
	#userID {
		padding-left: 10px;
		text-align: left;
		font-weight: bold;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	
	#userID, #date {
		background-color: lightgray;
		height:20px;
	}