.version.index {
	color: #0000E1;
	background-color: #6EABF9;
}

#page {
	z-index: 1;
	width: 1280px;
	min-height: 999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content {
	width: 0.01px;
}

#u129 {
	z-index: 3;
	min-height: 659.949999999999px;
	padding-bottom: 0px;
}

#u129_align_to_page {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	left: -100px;
	padding-top: 105px;
}

#u1461 {
	z-index: 6;
	width: 677px;
	background-color: transparent;
	left: 401px;
	position: relative;
}

/* 화면상단 로그인버튼 */
#loginheader {
	z-index: 5;
	width: 1115px;
	/* border: 2px solid red; */
	left: 182.5px;
	position: relative;
}

#loginICON {
	font-size: 15px;
	text-decoration: none;
	font-family: 'a타이틀고딕3';
}

.loginICON {
	font-size: 15px;
	text-decoration: none;
	font-family: 'a타이틀고딕3';
	float: right;
}

#u1609 {
	z-index: 5;
	width: 1115px;
	background-color: #FFFCEC;
	left: 182px;
	position: relative;

}

#buttonu3226 {
	z-index: 21;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 99px;
}

#buttonu3226:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 57px -10000px 0px 0px;
}

#u3227 {
	z-index: 23;
	height: 20px;
	width: 72px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 24px;
	background: transparent url("../images/u3227.png?crc=4270137501")
		no-repeat 0px 0px;
}

#buttonu3226:hover #u3227 {
	background: transparent url("../images/u3227-r.png?crc=333767328")
		no-repeat 0px 0px;
}

#buttonu3228 {
	z-index: 25;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 275px;
}

#buttonu3226:active, #buttonu3228:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 57px -10000px 0px 0px;
}

#u3229 {
	z-index: 27;
	height: 20px;
	width: 103px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
	background: transparent url("../images/u3229.png?crc=155739993")
		no-repeat 0px 0px;
}

#buttonu3228:hover #u3229 {
	background: transparent url("../images/u3229-r.png?crc=196503113")
		no-repeat 0px 0px;
}

#pu3260-4 {
	z-index: 37;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 48px;
	margin-left: 423px;
}

#u3260-4 {
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-left: 29px;
	position: relative;
}

#u1463 {
	z-index: 8;
	width: 270px;
	background-color: transparent;
	margin-top: 81px;
	position: relative;
}

#buttonu3230 {
	z-index: 29;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 720px;
}

#buttonu3228:active, #buttonu3230:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 57px -10000px 0px 0px;
}

#u3231 {
	z-index: 31;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
}

#u3231_states {
	float: left;
	width: 65px;
	height: 20px;
	background: transparent url("../images/u3231_states.png?crc=4069860665")
		no-repeat 0px 0px;
}

#buttonu3230:hover #u3231_states {
	background: transparent
		url("../images/u3231_states-r.png?crc=258751846") no-repeat 0px 0px;
}

#buttonu3232 {
	z-index: 33;
	width: 120px;
	height: 30px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 896px;
}

#buttonu3230:active, #buttonu3232:hover {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 57px -10000px 0px 0px;
}

#buttonu3232:active {
	-webkit-opacity: 0.9999;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #281C01;
	width: 120px;
	height: 30px;
	min-height: 0px;
	margin: 57px -10000px 0px 0px;
}

#u3233 {
	z-index: 35;
	height: 20px;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
	background: transparent url("../images/u3233.png?crc=3978999753")
		no-repeat 0px 0px;
}

#buttonu3232:hover #u3233 {
	background: transparent url("../images/u3233-r.png?crc=4001421722")
		no-repeat 0px 0px;
}

.js body {
	visibility: hidden;
}

.js body.initialized {
	visibility: visible;
}

#u129-bw {
	z-index: 3;
	min-height: 659.949999999999px;
}

#pu128 {
	z-index: 2;
	width: 0.01px;
	margin-left: -100px;
}

#u128, #u128-bw {
	z-index: 2;
	height: 340px;
}

#u1615 {
	z-index: 4;
	width: 290px;
	box-shadow: 0px 20px 20px rgba(127, 127, 127, 0.2);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 182px;
	padding: 34px 412px 36px 413px;
}

#u1465-4 {
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 80px;
	position: relative;
}

#u1466-7 {
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
}

.css_verticalspacer .verticalspacer {
	height: calc(100vh - 999px);
}

#muse_css_mq, .html {
	background-color: #FFFFFF;
}

body {
	position: relative;
	min-width: 1280px;
}

a:link {
	text-decoration: none;
	color : black;
}

a:visited {
	text-decoration: none;
	color : black;
}